.ginger{
    height: 50%;
    width: 50%;
}
@media only screen and (max-width: 426px){
    .healing {
        padding: 0 !important;
    }

    .p-5 {
        padding: 6px !important;
    }

    .pt-xs-5 {
        padding-top: 40px;
    }
}